.singleimageproduct{
    display:  flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 50px;
    gap: 20px;
    margin-left: 30px;
}

.pro-image{
    height: 70px;
    width: auto;
    border-radius: 10px;
}

.mainimagetag{
    border-radius: 10px;
    height: 300px;
    width: auto;
    margin-top: 50px;
    
}

.mainimagearea{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 30px;
}